<div class="container">

    <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="form-group">
    
    <div class="form-group content">
    
    <label class="login-form-label">Pet Id</label>
    
    <input class="form-control" type="number" placeholder="Enter a pet ID" id="petid" formControlName="petId" data-cy="petId">
    <label class="login-form-label">Pet Name</label>
    
    <input class="form-control" type="string" placeholder="Enter a pet name" id="petname" formControlName="petName" data-cy="petName">
</div>

<div class="form-group">

<button class="btn-primary" data-cy="login">Submit</button>

</div> </form> <div> <pre *ngIf="response">{{response}}</pre> </div>

</div>